<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-grid">
      <div class="sub-header-grid">
        <div>
          <span class="header-title">
            Map Direction</span>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div align="center">
  <google-map #map
    height="400px"
    width="80%"
    align="center"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
    (mapClick)="click($event)"
  >
    <map-marker
        #mapMarker="mapMarker"
        *ngFor="let marker of markers;let i = index"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(mapMarker, i)">
      <map-info-window>
        <div>
          <mat-form-field>
            <mat-label>Select Sequence</mat-label>
            <mat-select (selectionChange)="setMarkerNumber(i, $event)">
              <mat-option [value]="">Select</mat-option>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
              <mat-option [value]="3">3</mat-option>
              <mat-option [value]="4">4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </map-info-window>
    </map-marker>
  </google-map>
</div>
<div class="width-70" align="center">
  <div class="sub-grid-button-container">
    <div>
      <button mat-raised-button color="primary" (click)="zoomIn()">Zoom in
      </button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="zoomOut()">Zoom out
      </button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="calculateDirection()">
        Calculate Direction
      </button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="resetMarkers()">Reset
        Markers
      </button>
    </div>
  </div>
</div>




